<!-- views/coffee-type-detail.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= coffeeType.name %></title>
  </head>
  <body>
    <h2><%= coffeeType.name %></h2>
    <p>Description: <%= coffeeType.description %></p>
    <a href="/coffee-types">Back to All Coffee Types</a>
  </body>
</html>
