<!-- views/coffee-types.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Coffee Types</title>
  </head>
  <body>
    <h2>All Coffee Types</h2>
    <ul>
      <% coffeeTypes.forEach(type => { %>
      <li>
        <a href="/coffee-types/<%= type.id %>"><%= type.name %></a>

        <form
          action="/coffee-types/<%= type.id %>/delete"
          method="POST"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>

        <a href="/coffee-types/<%= type.id %>/edit">Edit</a>
      </li>
      <% }); %>
    </ul>

    <a href="/coffee-types/new">Add New Coffee</a>
    <a href="/">Main Page</a>
  </body>
</html>
