<!-- views/coffee.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Coffees</title>
  </head>
  <body>
    <h2>All Coffees</h2>
    <ul>
      <% coffees.forEach(coffee => { %>
      <li>
        <a href="/coffees/<%= coffee.id %>"><%= coffee.name %></a> - $<%=
        coffee.price %>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
